<div id="members">
	<div class="fh5co-parallax">
		<div class="fh5co-overlay"></div>
		<div class="fh5co-parallax-cover" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
			<div class="desc container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Your Discounts</h1>
              <h3>Hi {{ currentUser }}!</h3>
              <ul class="header-links">
                <li><a routerLink="/corporate-profile">User Profile</a></li>
                <li><a (click)="logout()">Logout</a></li>
              </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div *ngIf="finalDiscounts?.length > 0" id="fh5co-discounts" class="fh5co-section-gray">
		<div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
          <h3>Redeem Now!</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
			<div class="row">
        <div *ngFor="let discount of finalDiscounts" class="col-md-3 col-sm-4 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="assets/images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>{{discount.name}}</h3>
								<span>{{discount.description}}</span>
								<span class="price"><span *ngIf="discount.discount_type=='fixed'">PHP </span>{{discount.amount}}<span *ngIf="discount.discount_type=='percentage'">%</span></span>
								<button class="btn btn-primary btn-outline" (click)="redeemDiscount(theUserID,discount.$key)">Redeem Now <i class="icon-arrow-right22"></i></button>
							</div>
						</div>
					</div>
        </div>
		</div>
  </div>
</div>