<div id="login">
	<div class="fh5co-parallax">
		<div class="fh5co-overlay"></div>
		<div class="fh5co-parallax-cover" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
			<div class="desc container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">User Login</h1>
							<p>Login to start saving!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
					<form #formData='ngForm' (ngSubmit)="onSubmit(formData,isUser)">
						<div class="form-group">
							<input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="form-control" required>
						</div>
						<div class="form-group">
							<input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
						</div>
						<button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Login</button>
     					<!-- <a routerLink="/signup" class="alc">Don't have an account?</a>-->
					</form>
					<div class="row" style="margin-top: 1em;">
						<div class="col-md-6">
							<button (click)="loginFb()" id="fb" class="btn btn-primary" style="width: 100%; font-size: 9px; background:#3b5998">Login With Facebook</button>
						</div>
						<div class="col-md-6">
							<button (click)="loginGoogle()" id="google" class="btn btn-primary" style="width: 100%; font-size: 9px; background:#d34836">Login With Google</button>
							<!--<button routerLink="/login-email" id="email">Email</button>-->
						</div>
					</div>
					<div class="row" style="margin-top: 1em; text-align: center">
						<div class="col-md-12">
							<a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
						</div>
					</div>
				</div> 
			</div> 
		</div>
	</div> 
</div>