<div id="signup">
  <div class="fh5co-parallax">
    <div class="fh5co-overlay"></div>
      <div class="fh5co-parallax-cover" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
      <div class="desc container">
        <div class="row">
          <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
            <div class="fh5co-intro fh5co-table-cell">
              <h1 class="text-center">Register Now</h1>
              <p>Create and account and start empowering your business!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="fh5co-contact-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
            <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
            <form #formData='ngForm' (ngSubmit)="addCompany(formData)">
              <div class="form-group">
                <input type="text" placeholder="Company Name" (ngModel)="company_name" name="company_name" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Contact Person" (ngModel)="contact_person" name="contact_person" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Email address.." (ngModel)="company_email" name="company_email" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="text" placeholder="Username" (ngModel)="username" name="username" class="form-control" required>
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
              </div>
              <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Create my account</button>
            </form>
					</div>
				</div>
			</div>
  </div>
</div>